.main {
    background-color: var(--bg-color);
    padding: 5rem 0;
    text-align: center;

    .main-miaoshu {
        margin-bottom: 2.5rem !important;

        .h1-title {
            font-size: 3rem;
            font-weight: 400;
        }

        .p-meg {
            --tw-space-y-reverse: 0;
            margin-top: calc(1.25rem* calc(1 - var(--tw-space-y-reverse)));
            margin-bottom: calc(1.25rem* var(--tw-space-y-reverse));
            color: rgb(75 85 99 / 1);
        }
    }

    .DragAndDropUpload {
        --tw-space-y-reverse: 0;
        margin-top: calc(1.25rem* calc(1 - var(--tw-space-y-reverse)));
        margin-bottom: calc(1.25rem* var(--tw-space-y-reverse));
        cursor: pointer;
        display: flex;
        justify-content: center;

        .DragAndDropUpload-box {
            width: 275px;
            height: 350px;
            background-color: #fff;
            border: 1px dashed #ccc;
            display: flex;
            justify-content: center;
            align-items: center;

            // label {
            //     width: 100%;
            //     height: 100%;
            // }
        }
    }
}