.pdf-container {
    width: 100vw;

    .btns {
        button {
            margin-right: 10px;
            padding: 5px 10px;
            cursor: pointer;
        }
    }
}

.DragAndDropUpload {

    .react-pdf__Document {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .pdf-page-box {
            margin-top: 20px;
            margin-left: 10px;
            transition: all .2s;
            overflow: hidden;
            background-color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                background-color: rgb(249 250 251 / 1);
            }
        }
    }
}